@import "tw-animate-css";
@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-colorful-1: oklch(0.646 0.222 41.116);
  --chart-colorful-2: oklch(0.6 0.118 184.704);
  --chart-colorful-3: oklch(0.398 0.07 227.392);
  --chart-colorful-4: oklch(0.828 0.189 84.429);
  --chart-colorful-5: oklch(0.769 0.188 70.08);

  --chart-colorless-1: oklch(86.9% 0.005 56.366);
  --chart-colorless-2: oklch(55.3% 0.013 58.071);
  --chart-colorless-3: oklch(44.4% 0.011 73.639);
  --chart-colorless-4: oklch(37.4% 0.01 67.558);
  --chart-colorless-5: oklch(26.8% 0.007 34.298);

  --chart-blue-1: oklch(80.9% 0.105 251.813);
  --chart-blue-2: oklch(62.3% 0.214 259.815);
  --chart-blue-3: oklch(54.6% 0.245 262.881);
  --chart-blue-4: oklch(48.8% 0.243 264.376);
  --chart-blue-5: oklch(42.4% 0.199 265.638);

  --chart-purple-1: oklch(82.7% 0.119 306.383);
  --chart-purple-2: oklch(62.7% 0.265 303.9);
  --chart-purple-3: oklch(55.8% 0.288 302.321);
  --chart-purple-4: oklch(49.6% 0.265 301.924);
  --chart-purple-5: oklch(43.8% 0.218 303.724);

  --chart-yellow-1: oklch(87.9% 0.169 91.605);
  --chart-yellow-2: oklch(76.9% 0.188 70.08);
  --chart-yellow-3: oklch(66.6% 0.179 58.318);
  --chart-yellow-4: oklch(55.5% 0.163 48.998);
  --chart-yellow-5: oklch(47.3% 0.137 46.201);

  --chart-orange-1: oklch(83.7% 0.128 66.29);
  --chart-orange-2: oklch(70.5% 0.213 47.604);
  --chart-orange-3: oklch(64.6% 0.222 41.116);
  --chart-orange-4: oklch(55.3% 0.195 38.402);
  --chart-orange-5: oklch(47% 0.157 37.304);

  --chart-red-1: oklch(81% 0.117 11.638);
  --chart-red-2: oklch(64.5% 0.246 16.439);
  --chart-red-3: oklch(58.6% 0.253 17.585);
  --chart-red-4: oklch(51.4% 0.222 16.935);
  --chart-red-5: oklch(45.5% 0.188 13.697);

  --chart-pink-1: oklch(79% 0.17 345);
  --chart-pink-2: oklch(71.8% 0.202 349.761);
  --chart-pink-3: oklch(65.6% 0.241 354.308);
  --chart-pink-4: oklch(59.2% 0.249 0.584);
  --chart-pink-5: oklch(53% 0.23 6);

  --chart-green-1: oklch(87.1% 0.15 154.449);
  --chart-green-2: oklch(72.3% 0.219 149.579);
  --chart-green-3: oklch(62.7% 0.194 149.214);
  --chart-green-4: oklch(52.7% 0.154 150.069);
  --chart-green-5: oklch(44.8% 0.119 151.328);

  --chart-teal-1: oklch(85.5% 0.138 181.071);
  --chart-teal-2: oklch(70.4% 0.14 182.503);
  --chart-teal-3: oklch(60% 0.118 184.704);
  --chart-teal-4: oklch(51.1% 0.096 186.391);
  --chart-teal-5: oklch(43.7% 0.078 188.216);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --badge-gray: oklch(0.65 0 0);
  --badge-gray-foreground: oklch(0.985 0 0);
  --badge-gray-subtle: oklch(0.94 0 0);
  --badge-gray-subtle-foreground: oklch(0.205 0 0);

  --badge-blue: oklch(57.61% 0.2508 258.23);
  --badge-blue-foreground: oklch(1 0 0);
  --badge-blue-subtle: oklch(96.29% 0.0195 250.59);
  --badge-blue-subtle-foreground: oklch(53.18% 0.2399 256.99);

  --badge-purple: oklch(55.5% 0.3008 306.12);
  --badge-purple-foreground: oklch(1 0 0);
  --badge-purple-subtle: oklch(96.73% 0.0228 309.8);
  --badge-purple-subtle-foreground: oklch(47.18% 0.2579 304);

  --badge-yellow: oklch(81.87% 0.1969 76.46);
  --badge-yellow-foreground: oklch(0 0 0);
  --badge-yellow-subtle: oklch(96.81% 0.0495 90.2423);
  --badge-yellow-subtle-foreground: oklch(52.79% 0.1496 54.65);

  --badge-orange: oklch(64.6% 0.222 41.116);
  --badge-orange-foreground: oklch(1 0 0);
  --badge-orange-subtle: oklch(95.4% 0.038 75.164);
  --badge-orange-subtle-foreground: oklch(55.3% 0.195 38.402);

  --badge-red: oklch(62.56% 0.2524 23.03);
  --badge-red-foreground: oklch(1 0 0);
  --badge-red-subtle: oklch(95.41% 0.0299 14.2526);
  --badge-red-subtle-foreground: oklch(54.99% 0.232 25.29);

  --badge-pink: oklch(63.52% 0.238 1.01);
  --badge-pink-foreground: oklch(1 0 0);
  --badge-pink-subtle: oklch(93.83% 0.0451 356.29);
  --badge-pink-subtle-foreground: oklch(53.5% 0.2058 2.84);

  --badge-green: oklch(64.58% 0.1746 147.27);
  --badge-green-foreground: oklch(1 0 0);
  --badge-green-subtle: oklch(96.92% 0.037 147.15);
  --badge-green-subtle-foreground: oklch(51.75% 0.1453 147.65);

  --badge-teal: oklch(64.92% 0.1572 181.95);
  --badge-teal-foreground: oklch(1 0 0);
  --badge-teal-subtle: oklch(94.92% 0.0478 182.07);
  --badge-teal-subtle-foreground: oklch(52.08% 0.1251 182.93);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-colorful-1: oklch(0.488 0.243 264.376);
  --chart-colorful-2: oklch(0.696 0.17 162.48);
  --chart-colorful-3: oklch(0.769 0.188 70.08);
  --chart-colorful-4: oklch(0.627 0.265 303.9);
  --chart-colorful-5: oklch(0.645 0.246 16.439);

  --chart-colorless-1: oklch(86.9% 0.005 56.366);
  --chart-colorless-2: oklch(55.3% 0.013 58.071);
  --chart-colorless-3: oklch(44.4% 0.011 73.639);
  --chart-colorless-4: oklch(37.4% 0.01 67.558);
  --chart-colorless-5: oklch(26.8% 0.007 34.298);

  --chart-blue-1: oklch(80.9% 0.105 251.813);
  --chart-blue-2: oklch(62.3% 0.214 259.815);
  --chart-blue-3: oklch(54.6% 0.245 262.881);
  --chart-blue-4: oklch(48.8% 0.243 264.376);
  --chart-blue-5: oklch(42.4% 0.199 265.638);

  --chart-purple-1: oklch(82.7% 0.119 306.383);
  --chart-purple-2: oklch(62.7% 0.265 303.9);
  --chart-purple-3: oklch(55.8% 0.288 302.321);
  --chart-purple-4: oklch(49.6% 0.265 301.924);
  --chart-purple-5: oklch(43.8% 0.218 303.724);

  --chart-yellow-1: oklch(87.9% 0.169 91.605);
  --chart-yellow-2: oklch(76.9% 0.188 70.08);
  --chart-yellow-3: oklch(66.6% 0.179 58.318);
  --chart-yellow-4: oklch(55.5% 0.163 48.998);
  --chart-yellow-5: oklch(47.3% 0.137 46.201);

  --chart-orange-1: oklch(83.7% 0.128 66.29);
  --chart-orange-2: oklch(70.5% 0.213 47.604);
  --chart-orange-3: oklch(64.6% 0.222 41.116);
  --chart-orange-4: oklch(55.3% 0.195 38.402);
  --chart-orange-5: oklch(47% 0.157 37.304);

  --chart-red-1: oklch(81% 0.117 11.638);
  --chart-red-2: oklch(64.5% 0.246 16.439);
  --chart-red-3: oklch(58.6% 0.253 17.585);
  --chart-red-4: oklch(51.4% 0.222 16.935);
  --chart-red-5: oklch(45.5% 0.188 13.697);

  --chart-pink-1: oklch(79% 0.17 345);
  --chart-pink-2: oklch(71.8% 0.202 349.761);
  --chart-pink-3: oklch(65.6% 0.241 354.308);
  --chart-pink-4: oklch(59.2% 0.249 0.584);
  --chart-pink-5: oklch(53% 0.23 6);

  --chart-green-1: oklch(87.1% 0.15 154.449);
  --chart-green-2: oklch(72.3% 0.219 149.579);
  --chart-green-3: oklch(62.7% 0.194 149.214);
  --chart-green-4: oklch(52.7% 0.154 150.069);
  --chart-green-5: oklch(44.8% 0.119 151.328);

  --chart-teal-1: oklch(85.5% 0.138 181.071);
  --chart-teal-2: oklch(70.4% 0.14 182.503);
  --chart-teal-3: oklch(60% 0.118 184.704);
  --chart-teal-4: oklch(51.1% 0.096 186.391);
  --chart-teal-5: oklch(43.7% 0.078 188.216);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --badge-gray: oklch(0.65 0 0);
  --badge-gray-foreground: oklch(0.985 0 0);
  --badge-gray-subtle: oklch(0.239 0 0);
  --badge-gray-subtle-foreground: oklch(0.946 0 0);

  --badge-blue: oklch(57.61% 0.2321 258.23);
  --badge-blue-foreground: oklch(0.985 0 0);
  --badge-blue-subtle: oklch(25.45% 0.0811 255.8);
  --badge-blue-subtle-foreground: oklch(71.7% 0.1648 250.794);

  --badge-purple: oklch(55.5% 0.2186 306.12);
  --badge-purple-foreground: oklch(0.985 0 0);
  --badge-purple-subtle: oklch(25.91% 0.0921 314.41);
  --badge-purple-subtle-foreground: oklch(69.87% 0.2037 309.51);

  --badge-yellow: oklch(81.87% 0.1969 76.46);
  --badge-yellow-foreground: oklch(0 0 0);
  --badge-yellow-subtle: oklch(24.95% 0.0642 64.78);
  --badge-yellow-subtle-foreground: oklch(77.21% 0.1991 64.28);

  --badge-orange: oklch(64.6% 0.222 41.116);
  --badge-orange-foreground: oklch(0.985 0 0);
  --badge-orange-subtle: oklch(26.5% 0.08 40);
  --badge-orange-subtle-foreground: oklch(74% 0.19 50);

  --badge-red: oklch(62.56% 0.2234 23.03);
  --badge-red-foreground: oklch(0.985 0 0);
  --badge-red-subtle: oklch(25.93% 0.0834 19.02);
  --badge-red-subtle-foreground: oklch(69.96% 0.2136 22.03);

  --badge-pink: oklch(63.52% 0.2346 1.01);
  --badge-pink-foreground: oklch(0.985 0 0);
  --badge-pink-subtle: oklch(26.2% 0.0859 356.68);
  --badge-pink-subtle-foreground: oklch(69.36% 0.2223 3.91);

  --badge-green: oklch(64.58% 0.199 147.27);
  --badge-green-foreground: oklch(0.985 0 0);
  --badge-green-subtle: oklch(27.12% 0.0895 150.09);
  --badge-green-subtle-foreground: oklch(73.1% 0.2158 148.29);

  --badge-teal: oklch(64.92% 0.1403 181.95);
  --badge-teal-foreground: oklch(0.985 0 0);
  --badge-teal-subtle: oklch(31.5% 0.0767 180.99);
  --badge-teal-subtle-foreground: oklch(74.56% 0.1765 182.8);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-colorless: var(--font-geist-colorless);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  /* Chart - Colorful */
  --color-chart-colorful-1: var(--chart-colorful-1);
  --color-chart-colorful-2: var(--chart-colorful-2);
  --color-chart-colorful-3: var(--chart-colorful-3);
  --color-chart-colorful-4: var(--chart-colorful-4);
  --color-chart-colorful-5: var(--chart-colorful-5);

  /* Chart - Colorless */
  --color-chart-colorless-1: var(--chart-colorless-1);
  --color-chart-colorless-2: var(--chart-colorless-2);
  --color-chart-colorless-3: var(--chart-colorless-3);
  --color-chart-colorless-4: var(--chart-colorless-4);
  --color-chart-colorless-5: var(--chart-colorless-5);

  /* Chart - Blue */
  --color-chart-blue-1: var(--chart-blue-1);
  --color-chart-blue-2: var(--chart-blue-2);
  --color-chart-blue-3: var(--chart-blue-3);
  --color-chart-blue-4: var(--chart-blue-4);
  --color-chart-blue-5: var(--chart-blue-5);

  /* Chart - Purple */
  --color-chart-purple-1: var(--chart-purple-1);
  --color-chart-purple-2: var(--chart-purple-2);
  --color-chart-purple-3: var(--chart-purple-3);
  --color-chart-purple-4: var(--chart-purple-4);
  --color-chart-purple-5: var(--chart-purple-5);

  /* Chart - Yellow */
  --color-chart-yellow-1: var(--chart-yellow-1);
  --color-chart-yellow-2: var(--chart-yellow-2);
  --color-chart-yellow-3: var(--chart-yellow-3);
  --color-chart-yellow-4: var(--chart-yellow-4);
  --color-chart-yellow-5: var(--chart-yellow-5);

  /* Chart - Orange */
  --color-chart-orange-1: var(--chart-orange-1);
  --color-chart-orange-2: var(--chart-orange-2);
  --color-chart-orange-3: var(--chart-orange-3);
  --color-chart-orange-4: var(--chart-orange-4);
  --color-chart-orange-5: var(--chart-orange-5);

  /* Chart - Red */
  --color-chart-red-1: var(--chart-red-1);
  --color-chart-red-2: var(--chart-red-2);
  --color-chart-red-3: var(--chart-red-3);
  --color-chart-red-4: var(--chart-red-4);
  --color-chart-red-5: var(--chart-red-5);

  /* Chart - Pink */
  --color-chart-pink-1: var(--chart-pink-1);
  --color-chart-pink-2: var(--chart-pink-2);
  --color-chart-pink-3: var(--chart-pink-3);
  --color-chart-pink-4: var(--chart-pink-4);
  --color-chart-pink-5: var(--chart-pink-5);

  /* Chart - Green */
  --color-chart-green-1: var(--chart-green-1);
  --color-chart-green-2: var(--chart-green-2);
  --color-chart-green-3: var(--chart-green-3);
  --color-chart-green-4: var(--chart-green-4);
  --color-chart-green-5: var(--chart-green-5);

  /* Chart - Teal */
  --color-chart-teal-1: var(--chart-teal-1);
  --color-chart-teal-2: var(--chart-teal-2);
  --color-chart-teal-3: var(--chart-teal-3);
  --color-chart-teal-4: var(--chart-teal-4);
  --color-chart-teal-5: var(--chart-teal-5);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-badge-gray: var(--badge-gray);
  --color-badge-gray-foreground: var(--badge-gray-foreground);
  --color-badge-gray-subtle: var(--badge-gray-subtle);
  --color-badge-gray-subtle-foreground: var(--badge-gray-subtle-foreground);

  --color-badge-blue: var(--badge-blue);
  --color-badge-blue-foreground: var(--badge-blue-foreground);
  --color-badge-blue-subtle: var(--badge-blue-subtle);
  --color-badge-blue-subtle-foreground: var(--badge-blue-subtle-foreground);

  --color-badge-purple: var(--badge-purple);
  --color-badge-purple-foreground: var(--badge-purple-foreground);
  --color-badge-purple-subtle: var(--badge-purple-subtle);
  --color-badge-purple-subtle-foreground: var(--badge-purple-subtle-foreground);

  --color-badge-yellow: var(--badge-yellow);
  --color-badge-yellow-foreground: var(--badge-yellow-foreground);
  --color-badge-yellow-subtle: var(--badge-yellow-subtle);
  --color-badge-yellow-subtle-foreground: var(--badge-yellow-subtle-foreground);

  --color-badge-orange: var(--badge-orange);
  --color-badge-orange-foreground: var(--badge-orange-foreground);
  --color-badge-orange-subtle: var(--badge-orange-subtle);
  --color-badge-orange-subtle-foreground: var(--badge-orange-subtle-foreground);

  --color-badge-red: var(--badge-red);
  --color-badge-red-foreground: var(--badge-red-foreground);
  --color-badge-red-subtle: var(--badge-red-subtle);
  --color-badge-red-subtle-foreground: var(--badge-red-subtle-foreground);

  --color-badge-pink: var(--badge-pink);
  --color-badge-pink-foreground: var(--badge-pink-foreground);
  --color-badge-pink-subtle: var(--badge-pink-subtle);
  --color-badge-pink-subtle-foreground: var(--badge-pink-subtle-foreground);

  --color-badge-green: var(--badge-green);
  --color-badge-green-foreground: var(--badge-green-foreground);
  --color-badge-green-subtle: var(--badge-green-subtle);
  --color-badge-green-subtle-foreground: var(--badge-green-subtle-foreground);

  --color-badge-teal: var(--badge-teal);
  --color-badge-teal-foreground: var(--badge-teal-foreground);
  --color-badge-teal-subtle: var(--badge-teal-subtle);
  --color-badge-teal-subtle-foreground: var(--badge-teal-subtle-foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }

  @media (width >= 1600px) {
    max-width: 1600px;
  }

  @media (max-width: 640px) {
    @apply px-4;
  }
}
